<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'CONTACT' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'SRC_CODE' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item text-wrap>
          <ion-icon name="globe" item-left></ion-icon>
          <ion-button (click)='openLink(sourceCodeLink)'>https://github.com</ion-button>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'BUG_REPORT' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item text-wrap>
          <ion-icon name="globe" item-left></ion-icon>
          <ion-button (click)='openLink(sourceBugs)'>https://github.com</ion-button>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'FIND_OUT_MORE' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item text-wrap>
          <ion-icon name="logo-facebook" item-left></ion-icon>
          <ion-button (click)="openLink(fbGroupLink)">{{'JOIN_FB_GROUP' | translate}}</ion-button>
        </ion-item>
        <ion-item text-wrap>
          <ion-icon name="globe" item-left></ion-icon>
          <ion-button (click)="openLink(bmltLink)">{{'VISIT_WEBSITE' | translate}}</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
