<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'SETTINGS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>{{'LANGUAGE' | translate}}</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)=selectLanguage() cancelText="{{'CANCEL' | translate}}">
        <ion-select-option value="en">{{'ENGLISH' | translate}}</ion-select-option>
        <ion-select-option value="it">{{'ITALIAN' | translate}}</ion-select-option>
        <ion-select-option value="es">{{'SPANISH' | translate}}</ion-select-option>
        <ion-select-option value="da">{{'DANISH' | translate}}</ion-select-option>
        <ion-select-option value="pl">{{'POLISH' | translate}}</ion-select-option>
        <ion-select-option value="pt">{{'PORTUGUESE' | translate}}</ion-select-option>
        <ion-select-option value="ru">{{'RUSSIAN' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <div class="ion-text-wrap">
      <ion-label>{{'SEARCHRANGESETTING' | translate}} = {{searchRange}} {{'MEETINGS' | translate }}</ion-label>
    </div>
      <ion-range id="RadiusRange" min="5" max="50" [(ngModel)]="searchRange" (ionBlur)="selectSearchRange()" color="danger" pin="true">
        <ion-label range-left>5 {{'MEETINGS' | translate }}</ion-label>
        <ion-label range-right>50 {{'MEETINGS' | translate }}</ion-label>
      </ion-range>
    </ion-item>

  </ion-list>
</ion-content>

