<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="list">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{'LIST' | translate}} virtual-na.org</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{'SEARCH' | translate}} virtual-na.org </ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="visit()">
      <ion-icon name="cloud"></ion-icon>
      <ion-label>{{'VISIT' | translate}} virtual-na.org</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
