<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'LOCATIONSEARCH' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div ngSwitch="{{ currentAddress }}">

    <div *ngSwitchCase="''"></div>

    <div *ngSwitchCase="'Location not found'" [ngClass]="'one'">
      <ion-item text-wrap><b>{{'NO_LOCATION' | translate}}</b></ion-item>
    </div>

    <div *ngSwitchDefault>
      <div *ngIf = "isLoaded">
        <app-meeting-list [data]="addressMeetingList" meetingType='regular'></app-meeting-list>
      </div>
    </div>
    
  </div>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>

    <ion-item text-wrap>
      <b>{{radius}} {{'MEETINGS_NEAREST' | translate}} {{ currentAddress }}</b>
    </ion-item>
    <ion-item text-wrap>
      <ion-button expand="full" color="primary" id="LocationButton" (click)="locatePhone()" class="col text-center text-wrap">
        <ion-icon name="locate-outline"></ion-icon>&nbsp;{{'LOCATIONSEARCH' | translate }}
      </ion-button>
    </ion-item>

    <ion-range id="RadiusRange" min="5" max="50" [(ngModel)]="radius" (ionChange)="getAllMeetings()" color="danger" pin="true" debounce="500">
      <ion-label slot="start">5 {{'MEETINGS' | translate}}</ion-label>
      <ion-label slot="end">50 {{'MEETINGS' | translate}}</ion-label>
    </ion-range>

  </ion-toolbar>
</ion-footer>
