<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div *ngIf="areaName != '' ; else BMLT_List">
      <ion-title>{{ areaName }}</ion-title>
      <ion-button color="primary" slot="end" size="small" (click)="showServiceStructure()">Back</ion-button>
    </div>

    <ng-template #BMLT_List>
    <ion-title>
      {{'LISTFULL' | translate}}
    </ion-title>
  </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div *ngIf="HTMLGrouping == 'areas'">

    <div *ngFor="let L1 of serviceGroupHierarchy; let i = index">
      <div *ngIf="L1.childServiceGroup;else L1_no_children">
        <ion-item-divider  sticky="true" (click)="toggleL1Group(i)" [ngClass]="{active: isL1GroupShown(i)}" [color]="isL1GroupShown(i) ? 'secondary' : 'primary'" >
          <h3>{{ L1.name }}</h3>
          <ion-icon size="large" [color]="isL1GroupShown(i) ? 'primary' : 'secondary'" slot="end" [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
        </ion-item-divider>
      </div>
      <ng-template #L1_no_children>
        <ion-item-divider sticky="true" (click)="getMeetingsByArea(L1.id, L1.name)" color="primary">
          <h3>{{ L1.name }} </h3>
          <ion-icon size="large" color="secondary" slot="end" name="play"></ion-icon>
        </ion-item-divider>
      </ng-template>

      <div *ngIf="isL1GroupShown(i)">
        <div *ngFor="let L2 of L1.childServiceGroup; let j = index">
          <div *ngIf="L2.childServiceGroup;else L2_no_children">
            <ion-item-divider sticky="true" (click)="toggleL2Group(j)" [ngClass]="{active: isL2GroupShown(j)}" [color]="isL2GroupShown(j) ? 'tertiary' : 'secondary'">
              <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
              <h3>{{ L2.name }}</h3>
              <ion-icon size="large" [color]="isL2GroupShown(j) ? 'secondary' : 'tertiary'" slot="end" [name]="isL2GroupShown(j) ? 'close-circle' : 'add-circle'"></ion-icon>
            </ion-item-divider>
          </div>
          <ng-template #L2_no_children>
            <ion-item-divider sticky="true" (click)="getMeetingsByArea(L2.id, L2.name)" [color]="isL2GroupShown(j) ? 'tertiary' : 'secondary'">
              <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
              <h3>{{ L2.name }}</h3>
              <ion-icon size="large" [color]="isL2GroupShown(j) ? 'secondary' : 'tertiary'" slot="end" name="play"></ion-icon>
            </ion-item-divider>
          </ng-template>


          <div *ngIf="isL2GroupShown(j)">
            <div *ngFor="let L3 of L2.childServiceGroup; let k = index" [ngClass]="{active: isL3GroupShown(k)}">
              <div *ngIf="L3.childServiceGroup;else L3_no_children">
                <ion-item-divider sticky="true" (click)="toggleL3Group(k)" [ngClass]="{active: isL3GroupShown(k)}" [color]="isL3GroupShown(k) ? 'four' : 'tertiary'">
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>     
                  <h3>{{ L3.name }}</h3>
                  <ion-icon size="large" [color]="isL3GroupShown(k) ? 'tertiary' : 'warning'" slot="end" [name]="isL3GroupShown(k) ? 'close-circle' : 'add-circle'"></ion-icon>
                </ion-item-divider>
              </div>
              <ng-template #L3_no_children>
                <ion-item-divider sticky="true" (click)="getMeetingsByArea(L3.id, L3.name)" [color]="isL3GroupShown(k) ? 'four' : 'tertiary'">
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                  <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                  <h3>{{ L3.name }}</h3>
                  <ion-icon size="large" [color]="isL3GroupShown(k) ? 'tertiary' : 'warning'" slot="end" name="play"></ion-icon>
                </ion-item-divider>
              </ng-template>


              <div *ngIf="isL3GroupShown(k)">
                <div *ngFor="let L4 of L3.childServiceGroup; let l = index" [ngClass]="{active: isL4GroupShown(k)}">
                  <div *ngIf="L4.childServiceGroup;else L4_no_children">
                    <ion-item-divider sticky="true">
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <h3>{{ L4.name }}</h3>
                      <ion-icon size="large" color="icon" slot="end" [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
                    </ion-item-divider>
                  </div>
                  <ng-template #L4_no_children>
                    <ion-item-divider sticky="true" (click)="getMeetingsByArea(L4.id, L4.name)">
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                      <h3>{{ L4.name }}</h3>
                      <ion-icon size="large" color="icon" slot="end" name="play"></ion-icon>
                    </ion-item-divider>
                  </ng-template>


                  <div *ngFor="let L5 of L4.childServiceGroup; let m = index">
                    <div *ngIf="L5.childServiceGroup;else L5_no_children">
                      <ion-item-divider sticky="true">
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <h3>{{ L5.name }}</h3>
                        <ion-icon size="large" color="icon" slot="end" [name]="isL1GroupShown(i) ? 'close-circle' : 'add-circle'"></ion-icon>
                      </ion-item-divider>
                    </div>
                    <ng-template #L5_no_children>
                      <ion-item-divider sticky="true" (click)="getMeetingsByArea(L5.id, L5.name)">
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <ion-icon name="chevron-forward-outline" slot="start" size="large"></ion-icon>
                        <h3>{{ L5.name }}</h3>
                        <ion-icon size="large" color="icon" slot="end" name="play"></ion-icon>
                      </ion-item-divider>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="HTMLGrouping == 'meetings'">

    <div *ngIf = "isLoaded">
      <app-meeting-list [data]="meetingListArea" meetingType='regular'></app-meeting-list>
    </div>
    
  </div>
</ion-content>
